services:
  db:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=mypassword
  cache:
    image: redis:7-alpine
    ports:
      - "6379:6379" 
  mq:
    image: rabbitmq:3-management-alpine
    ports:
      - "5672:5672"  # AMQP port
      - "15672:15672" # Management UI porta